# Team code owners (default for all files).

* @KovalDenys1 @darisomericic @AyanleOlow @artemoslo

# Optional future split (example):
# /src/components/ @artem-handle @daris-handle
# /src/pages/ @denys-handle @ayanle-handle
